*{
    font-family:Poppins;

}
nav{
    
    display: flex;
    justify-content: space-around;
    border-top-width: 0px;
    border-top-style: solid;
  }
.nav-items{
    display: flex;
  justify-content: space-around;
  width: 488.333px;
  font-size: 20px;
  letter-spacing: 0.03em;
  font-weight: 200;
  font-style: normal;
}

.ri{
    width: 290px;
}
.intro-section{
display: flex;
height: 87vh;
}


.intro-section{
display: flex;
height: 87vh;
width: 1420.2px;
justify-content: flex-start;
margin-left: 40px;
margin-top: 16px;
}

h3{
    font-size: 31px;
}

h3 img{
    height: 38px;
}

h1{
font-size: 60px;
font-weight: bold;
font-style: normal;
}
.sub-headlines{
display: flex;
flex-direction: column;
height: 160.9px;
justify-content: center;
align-items: flex-start;
margin-left: 75px;
font-size: 21px;
line-height: 0;
margin-top: 13px;
margin-bottom: 10px;
}

.sub-headline{

    margin-bottom: -10.5px;
}

.sub-headline img{
    background-color: #fe5e35;
    border-radius: 1em;
    margin-top: -3px;
    
    padding: 5px;
    height: 15px;
}

h5 img{
    margin-bottom: -5px;
}
.text{
    font-size: 14px;
opacity: 0.5;

}

.action-btn{
padding: 10px 38px;
background-color: #fe5e35;
color: #ffffff;
border: none;
border-radius: 1.5em;

}

.headphone-div :nth-child(3n)
{
    margin-top: -450px;
    margin-right: 68px;
  
margin-bottom: 139px;


  height: 496px;
  margin-bottom: 148px;
 
}

.discount-content h4{

margin-bottom: -38.39px;
margin-top: 59.61px;
height: 1px;
margin-right: 40px;
}




.discount{
  




margin-right: 409px;
height: 127px;
margin-top: 49px;
position: absolute;
box-shadow: -14px 22px 33px -11px black;
}


.discount-content{
    z-index: 2;
    position: relative;
    color: #ffffff;
    margin-right: 367px;
margin-top: 18px;
height: 207.033px;
}

/* .headphone-div :nth-child(2n-1){
margin-top: -13px;
position: absolute;
height: 143px;
} */
 

.headphone-div{
    position: absolute;
    margin-top:217px;
display: flex;
align-items: center;
justify-content: space-between;
flex-direction: column;
} 

.left-section{
    width: 50vw;
}

.action-btnss{

padding: 10px 38px;
background-color: #fe5e35;
color: #ffffff;
border: none;
border-radius: 1.5em;
margin-top: 500px;
z-index: 10;
position: absolute;
}
.discount-content h1{
height: 57.4px;
font-size: 40px;
margin-top: 49.8px;
}